@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 16px;
    font-weight: normal;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}
#wrap {
    width: 1920px;
    margin: 0 auto;
    /* 위치기준값 */
    position: relative;
}
/* Header */
/* 플롯해제 */
header::after {
    content: " ";
    display: block;
    clear: both;
}
header {
    width: 100%;
    height: 50px;
    /* 포지션 */
    line-height: 50px;
    position: absolute;
    left: 160px;
    top: 30px;
    z-index: 1;
}
header h1 {
    padding-top: 2px;
    padding-right: 120px;
    /* 플롯 */
    float: left;
}
/* Gnb */
header nav {
    /* 플롯 */
    float: left;
}
header .gnb {
    /* 플롯 */
    float: left;
}
header .gnb li {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-shadow: 0 0 4px #fff;
    padding-right: 64px;
    /* 플롯 */
    float: left;
}
header .gnb li:nth-child(2) {
    padding-right: 0;
}
header .gnb li:nth-child(1):hover {
    color: #ba0021;
}
header .gnb li:nth-child(2):hover {
    color: #033061;
}
/* Contents */
/* 플롯해제 */
article::after {
    content: " ";
    display: block;
    clear: both;
}
article .contents {
    width: 100%;
    height: 929px;
    /* 플롯 */
    float: left;
    overflow: hidden;
    /* 위치기준값 */
    position: relative;
}
/* Main Video */
article .contents video {
    /* width: 100%; */
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}
/* Sound Controll Button */
article .contents .sound_btn {
    position: absolute;
    left: 1760px;
    top: 40px;
    z-index: 1;
    cursor: pointer;
}
article .contents .sound_btn i {
    font-size: 30px;
    color: #fff;
}
/* ==================================================== */
/* Ohtani */
/* 플롯해제 */
.othani::after {
    content: " ";
    display: block;
    clear: both;
}
.othani {
    width: 100%;
}
/* Left Area */
.othani .left_area {
    width: 50%;
    height: 929px;
    padding: 130px 160px 0;
    /* 플롯 */
    float: left;
    margin: 0 auto;
}
.othani .left_area h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.othani .left_area h1 span {
    font-size: 72px;
}
.othani .left_area .stats_box {
    width: 390px;
    margin: 0 auto;
}
/* 플롯해제*/
.othani .left_area .stats:after {
    content: " ";
    display: block;
    clear: both;
}
.othani .left_area .stats {
    text-align: center;
}
.othani .left_area .stats li {
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    background: #ba0021;
    /* 플롯 */
    float: left;
    margin-bottom: 20px;
}
.othani .left_area .stats li:nth-child(odd) {
    width: 230px;
    padding-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.othani .left_area .stats li:nth-child(even) {
    width: 140px;
    margin-right: 0;
    background: #eee;
    color: #000;
    opacity: 0.8;
    text-align: center;
}
.othani .left_area .stats h2 {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
}
/* Vote Btn & Sns */
/* 플롯해제*/
.othani .left_area .vote::after {
    content: "";
    display: block;
    clear: both;
}
.othani .left_area .vote {
    width: 390px;
    margin: 30px auto 0;
}
.othani .left_area .vote .vote_btn {
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    outline: none;
    border: 1px solid #ba0021;
    cursor: pointer;
    /* 플롯 */
    float: left;
    transition: all 0.5s;
    margin-left: 42px;
}
.othani .left_area .vote .vote_btn a {
    font-size: 16px;
    font-weight: 600;
    color: #ba0021;
}
.othani .left_area .vote .vote_btn:hover {
    background: #ba0021;
}
.othani .left_area .vote_btn:hover a {
    color: #fff;
}
.othani .left_area .vote .sns {
    /* 플롯 */
    float: left;
    padding-top: 7px;
    margin-left: 20px;
}
.othani .left_area .vote .sns p {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #eee;
    opacity: 0.8;
    text-align: center;
    margin-right: 20px;
    /* 플롯  */
    float: left;
}
.othani .left_area .vote .sns p:last-child {
    margin-right: 0;
}
.othani .left_area .vote .sns p:hover i {
    color: #666;
}
.othani .left_area .vote .sns p i {
    font-size: 25px;
    color: #999;
    line-height: 46px;
}
/* Prev Btn */
.othani .left_area .prev_btn {
    width: 120px;
    border-bottom: 2px solid #ba0021;
    text-align: right;
    padding-top: 60px;
    position: fixed;
    left: 0;
}
.othani .left_area .prev_btn {
    font-size: 16px;
    font-weight: 500;
    color: #ba0021;
}
/* Background Image */
.othani .left_area>#bg {
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
/* Right Area */
.othani .right_area {
    width: 50%;
    height: 929px;
    /* 플롯  */
    float: right;
}
/* ==================================================== */
/* Vladimir */
/* 플롯해제 */
.vladimir::after {
    content: " ";
    display: block;
    clear: both;
}
.vladimir {
    width: 100%;
}
/* Left Area */
.vladimir .left_area {
    width: 50%;
    height: 929px;
    padding: 130px 160px 0;
    /* 플롯 */
    float: left;
    margin: 0 auto;
}
.vladimir .left_area h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.vladimir .left_area h1 span {
    font-size: 72px;
}
.vladimir .left_area .stats_box {
    width: 390px;
    margin: 0 auto;
}
/* 플롯해제*/
.vladimir .left_area .stats:after {
    content: " ";
    display: block;
    clear: both;
}
.vladimir .left_area .stats {
    text-align: center;
}
.vladimir .left_area .stats li {
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    background: #033061;
    /* 플롯 */
    float: left;
    margin-bottom: 20px;
}
.vladimir .left_area .stats li:nth-child(odd) {
    width: 230px;
    padding-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.vladimir .left_area .stats li:nth-child(even) {
    width: 140px;
    margin-right: 0;
    background: #eee;
    color: #000;
    opacity: 0.8;
    text-align: center;
}
.vladimir .left_area .stats h2 {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
}
/* Vote Btn & Sns */
/* 플롯해제*/
.vladimir .left_area .vote::after {
    content: "";
    display: block;
    clear: both;
}
.vladimir .left_area .vote {
    width: 390px;
    margin: 30px auto 0;
}
.vladimir .left_area .vote .vote_btn {
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    outline: none;
    border: 1px solid #033061;
    cursor: pointer;
    /* 플롯 */
    float: left;
    transition: all 0.5s;
    margin-left: 42px;
}
.vladimir .left_area .vote .vote_btn a {
    font-size: 16px;
    font-weight: 600;
    color: #033061;
}
.vladimir .left_area .vote .vote_btn:hover {
    background: #033061;
}
.vladimir .left_area .vote_btn:hover a {
    color: #fff;
}
.vladimir .left_area .vote .sns {
    /* 플롯 */
    float: left;
    padding-top: 7px;
    margin-left: 20px;
}
.vladimir .left_area .vote .sns p {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #eee;
    opacity: 0.8;
    text-align: center;
    margin-right: 20px;
    /* 플롯  */
    float: left;
}
.vladimir .left_area .vote .sns p:last-child {
    margin-right: 0;
}
.vladimir .left_area .vote .sns p:hover i {
    color: #666;
}
.vladimir .left_area .vote .sns p i {
    font-size: 25px;
    color: #999;
    line-height: 46px;
}
/* Prev Btn */
.vladimir .left_area .prev_btn {
    width: 120px;
    border-bottom: 2px solid #033061;
    text-align: right;
    padding-top: 60px;
    position: fixed;
    left: 0;
}
.vladimir .left_area .prev_btn {
    font-size: 16px;
    font-weight: 500;
    color: #033061;
}
/* Background Image */
.vladimir .left_area>#bg {
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
/* Right Area */
.vladimir .right_area {
    /* 플롯  */
    float: right;
}
/* Footer */
footer .copyright {
    height: 40px;
    line-height: 40px;
    background: #000;
    text-align: center;
    opacity: 0.7;
}
footer .copyright p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}